.MovieDetail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.MovieDetail img{
  height: 200px;
  object-fit: contain;
}

.MovieDetail h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-top: 32px;
}


.MovieDetail .movie-overview {
  background: rgba(0, 0, 0, 0.8);
  width: 50%;
  font-size: 2rem;
  padding: 0.6rem;
}

.MovieDetail .trailer {
  margin-bottom: 12px;
}