.Movie {
  position: relative;
  padding: 0.5rem;
  transition: transform ease-in-out 100ms;
  
}

.Movie:hover {
  transform: scale(1.1);
}

.Movie img {
  height: 350px;
  box-shadow: 0px 0px 10px 2px black;
}

.fave-button {
  position: absolute;
  z-index: 0;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: red;
  left: 0;
  
}