.Movie {
  position: relative;
}

.Movie img {
  height: 200px;
}

.fave-button {
  position: absolute;
  z-index: 0;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: red;
  left: 0;
  
}