@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
}

html {
  font-family: 'Bebas Neue', cursive !important;
}

a {
  text-decoration: none;
  color: #fff;
}

.App {
  background-color: #111;
  color: #fff;
  font-family: 'Bebas Neue', cursive !important;
}